@import "mixins";
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
.App {
  margin: 1rem;
  // font-family: Arial, Helvetica, sans-serif !important;
  font-family: "Open Sans", sans-serif;
  background-color: blue;
}
