@import "mixins";
@import "./helpers.scss";
@import "./components/pleca_index.scss";
@import "./components/sections.scss";
@import "./components/list.scss";
@import "./components/pageNavigation.scss";
@import "~react-responsive-carousel/lib/styles/carousel.min.css";
@import "./components/categories.scss";
@import "./components/itemHandler.scss";
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background: $grisBajoBG;
}
header {
  z-index: 2;
}
#root {
  margin-top: $headerpush;
  z-index: 1;
}
.App {
  margin: 0px 0rem;
  font-family: "Open Sans", sans-serif;
}
.main_container {
  width: 100%;
  @include desktopMax() {
    width: 100%;
    max-width: $maxWidth;
    margin-left: calc(50% - #{$maxWidth/2});
  }
}
