.img {
  max-width: 100%;
  width: 100%;
}
.BacktoTop {
  margin-top: 25px;
  background: $verdeSitio;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  .btnBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &:hover {
      @include btnAnim;
    }
    img {
    }
    span {
      color: $verdeSitioBold;
      font-weight: bold;
    }
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

.btn.naranja {
  font-size: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 200px;
  text-align: center;
  padding: 5px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(137, 4, 4);
  border-radius: 7px;
  background-color: rgb(255, 68, 56);
  cursor: pointer;
}
