@import "../mixins.scss";
.cartItems {
  .itemsSection {
    column-gap: 15px;
    row-gap: 5px;
    @include tablet {
      row-gap: 10px;
    }
    @include desktop {
      row-gap: 15px;
    }

    .section.x4 {
      grid-column: auto/span 4;
      @include tablet {
        grid-column: auto/span 12;
      }
      @include desktop {
        grid-column: auto/span 4;
      }
    }
    &_items {
      padding-bottom: 20px !important;
      box-sizing: border-box;
      .title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }
      .subtotal {
        position: relative;
        float: left;
        width: 100%;
        display: none;
        @include desktop {
          text-align: right;
          display: flex;
          justify-content: flex-end;
          table {
            width: 350px;
          }
        }
      }
    }
    .descriptionSale {
      padding: 0px 0px;
      position: relative;
      box-sizing: border-box;
      &_total {
        padding: 10px 10px;
        box-sizing: border-box;
        background: white;
        .subtotal {
          color: $grisTexto;
        }
        .discount {
          color: $naranja;
        }
        .subtotal,
        .discount,
        .total {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          padding: 5px 0px;
          span {
            width: 100%;
            flex: 1;
          }
          strong {
            color: black;
          }
        }
        .action {
          .btn {
            background: $naranja;
            display: block;
            padding: 7px 5px;
            box-sizing: border-box;
            text-align: center;
            text-decoration: none;
            color: white;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
          }
          .link {
            color: $verdeSitio;
            font-weight: bold;
            padding: 10px 0px;
            text-align: center;
            display: block;
            text-decoration: none;
          }
        }
      }
      &_related {
        margin: 10px 0px;
        padding: 0px 0px;
        position: relative;
        box-sizing: border-box;
        .incart {
          padding: 0px 10px 10px;
          box-sizing: border-box;
        }
      }
    }
  }
}
.itemCart {
  // background: red;
  padding: 5px;
  margin: 0px 0px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  @include tablet {
    width: 50%;
    float: left;
  }
  @include desktop {
    width: 100%;
    float: left;
  }

  &_container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: 10px;
    @include desktop {
      grid-template-columns: 150px 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
  }
  &_image {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
      grid-column: auto / span 1;
      grid-row: auto;
    }
    img {
      max-width: 100px;
      width: 100%;
    }
  }
  &_description {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    @include desktop {
      grid-column: auto / span 2;
      grid-row: auto;
    }
    &_actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        margin-left: 10px;
        color: $verdeSitio;
      }
    }
  }
  &_handler {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
      grid-column: auto / span 2;
      grid-row: auto;
    }
  }
  .unit {
    flex-direction: column;
  }
  .total,
  .unit {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop {
      grid-column: auto / span 1;
      grid-row: auto;
    }
  }
  // &_total {
  //   grid-column: auto / span 1;
  //   grid-row: auto / span 1;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   @include desktop {
  //     grid-column: auto / span 1;
  //     grid-row: auto;
  //   }
  //   p {
  //     margin: 0px;
  //     padding: 0px;
  //     font-weight: bold;
  //   }
  // }
}
